@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161,100,223);
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.btn{
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn:focus{
  outline: none;
}

.btn:hover{
  opacity: 0.9;
}
