@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: thistle;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: end;
}

.search {
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: inherit;
}

.search::placeholder {
  color: black;
}

.search:focus {
  background-color: beige;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 20%;
  margin: 1rem;
  background-color: #8a2be2;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.movie-info span {
  background-color: aqua;
  border-radius: 4rem;
  padding: 1rem;
}

.overview {
  position: absolute;
  padding: 2rem;
  background-color: white;
  color: black;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease;
}

.movie:hover .overview {
  transform: translateY(0%);
}
